$primary: #41427b;      
$secondary: #54b5d5;    
$accent: #F4D35E;       
$dark: #141514;         
$positive: #DC5F00;    
$negative: #e06464;     
$info: #EEEEEE;         
$warning: #DC5F00;      

$font-family: 'Roboto', sans-serif;